@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind:300,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a, button {
  transition: background-color 0.3s, color 0.3s;
}

.sidebar {
  position: fixed; /* Sidebar fixa */
  top: 0;
  left: 0;
  width: 250px; /* Largura fixa da sidebar */
  height: 100vh; /* Altura total da tela */
  background: #ffffff; /* Cor de fundo */
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
  z-index: 100; /* Certifica-se de que a sidebar está acima de outros elementos */
  border-radius: 20px 30px 30px 20px; /* Bordas arredondadas */
  display: flex;
  flex-direction: column; /* Flexbox para organizar os itens */
  transition: width 0.3s ease;
}

.sidebar .nav-links {
  flex: 1; /* Faz a lista de links ocupar o espaço restante */
  padding: 30px 0; /* Espaçamento interno */
  overflow: auto; /* Permite rolagem se necessário */
  display: flex;
  flex-direction: column; /* Organiza os links em coluna */
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}

.sidebar .nav-links li:hover {
  box-shadow: 0 0 10px rgba(0, 170, 230, 0.5); /* Sombra azul ao passar o mouse */
}



.sidebar .nav-links li a {
  color: black; /* Cor padrão para os links */
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
  transition: color 0.3s; /* Transição suave para a cor */
}

.sidebar .nav-links li.selected a {
  color: #0aa8e6; /* Cor azul para o botão selecionado */
}

.sidebar .nav-links li a:hover {
  box-shadow: 0 0 10px rgba(0, 170, 230, 0.5); /* Sombra azul ao passar o mouse */
}


.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none; /* Remove sublinhado */
}

.sidebar .nav-links li i {
  height: 50px;
  min-width: 78px; /* Largura mínima do ícone */
  text-align: center;
  line-height: 50px; /* Alinha o texto verticalmente */
  color: #39434d; /* Cor do ícone */
  font-size: 20px; /* Tamanho do ícone */
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar .nav-links li a .link_name {
  font-size: 18px; /* Tamanho do texto */
  font-weight: 400; /* Peso da fonte */
  color: #3f4750; /* Cor do texto padrão */
  transition: all 0.4s ease;
}

.sidebar .nav-links li.profile-item {
  margin-top: auto; /* Move Perfil para o final */
}

.sidebar .nav-links li.faq-item {
  margin-bottom: 20px; /* Espaço abaixo do item FAQ */
}

:root {
  --sidebar-width: 250px;
}

.home-section {
  position: relative; /* Mantém o conteúdo à direita da sidebar */
  background: #ffffff; /* Cor de fundo */
  height: 100vh; /* Altura total da tela */
  margin-left: var(--sidebar-width);
  width: calc(100% - var(--sidebar-width));
  transition: all 0.5s ease;
}

.content-container {
  display: none; /* Inicialmente oculto */
  padding: 20px; /* Espaçamento interno do conteúdo */
}

.content-container.active {
  display: block; /* Mostra o conteúdo ativo */
}

.sidebar-footer {
  padding: 20px; /* Espaçamento interno */
  text-align: center; /* Centraliza o texto */
  font-size: 16px; /* Tamanho da fonte */
  color: #3f4750; /* Cor do texto */
  margin-top: auto; /* Move o texto para o final da sidebar */
}


  .notification-panel {
    position: fixed;
    top: 180px; /* Ajuste a posição vertical conforme necessário */
    left: -400px; /* Inicialmente escondido à esquerda */
    width: 400px; /* Largura total da notificação */
    height: 402px; /* Altura ajustável */
    background: white;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1); /* Mudado para sombra à direita */
    transition: left 0.5s ease, height 0.5s ease; /* Animação suave */
    z-index: 200;
    border-radius: 10px; /* Bordas arredondadas */
    overflow-y: auto; /* Permite rolagem se necessário */
  }
  
  .notification-panel.active {
    top: 210px;
    left: 80px; /* Ajuste para a posição quando visível */
      display: block; /* Torna o modal visível quando a classe 'active' é adicionada */
  }
  

  .notification-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #ffffff; /* Cor de fundo do cabeçalho */
    color: white;
    border-radius: 10px 0 0 0; /* Arredondar o canto superior */
  }

  .notification-header h3 {
    color: #000;
    margin-top: 10px; /* Remove margens */
    margin-left: 30px;
    font-size: 20px; /* Tamanho da fonte */
    text-align: left; /* Centraliza o texto, se necessário */
}
  
  .notification-content {
    padding: 10px;
    margin-top: 20px;
  }

 .notification-header button {
    background: transparent; /* Fundo transparente */
    border: none; /* Remove a borda */
    color: #8799ac; /* Cor do texto */
    font-size: 22px; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    transition: color 0.3s ease; /* Transição suave para a cor */
    margin-top: 0px;
    margin-right: 20px;
}
  
  .notification-header button:hover {
    color: #ff0000; /* Cor ao passar o mouse */
  }

  .notification-icon {
    margin-top: 40px;
    text-align: center; /* Centraliza o ícone e o texto */
}

.notification-icon i {
    font-size: 120px; /* Tamanho do ícone do sino */
    color: #3e6186; /* Cor do ícone */
}

.notification-icon p {
    margin-top: 10px; /* Espaçamento entre o ícone e o texto */
    color: #333; /* Cor do texto */
    font-size: 16px; /* Tamanho do texto */
}

.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.notification-count {
  position: fixed;
  top: 184px;
  right: 1801px;
  background-color: red;
  color: white;
  border-radius: 50px;
  padding: 3px;
  font-size: 9px;
  display: inline-block;
  min-width: 23px;
  text-align: center;
  z-index: 1111;
}

.notification-list {
  padding: 0; /* Remove o preenchimento */
  margin: 0; /* Remove a margem */
  list-style: none; /* Remove marcadores de lista */
}

#notification-list li {
  padding: 10px;
  border-bottom: 1px solid #ff0000;
}

.notification-header1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.btn-clear {
  position: relative;
  top: -10px;

  background: transparent;
  border: none;
  color: #007bff;
  font-size: 12px;
  cursor: pointer;
  transition: color 0.2s;
}

.btn-clear:hover {
  color: #ff0000;
}

.notification-list {
  padding: 10px;
}

.notification-item {
  display: flex;
  align-items: center;
  padding: 15px;
  animation: slideIn 0.3s ease;
}

.notification-item:hover {
  background-color: #f9f9f9;
}

.thumb {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.notification-content {
  flex-grow: 1;
}

.notification-title {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  color: #000000;
}

.notification-description {
  font-size: 12px; /* Tamanho da fonte */
  color: #000000; /* Cor do texto */
  margin: 5px 0 0; /* Margens superior e inferior */
  max-width: 90%; /* Define a largura máxima para 80% do contêiner pai */
  line-height: 1.2; /* Ajusta o espaçamento entre linhas */
}
.notification-time {
  font-size: 10px;
  color: #999;
}

.notification-actions {
  display: flex;
  gap: 5px;
}

.btn-action {
  background: transparent;
  border: none;
  color: #555;
  cursor: pointer;
  font-size: 16px;
  transition: color 0.2s;
}

.btn-action:hover {
  color: #007bff;
}

@keyframes slideIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
 /*HOME*/

/* Estilo para as divisões */
.divider {
  border: none; /* Remove a borda padrão */
  border-top: 2px solid #ddd; /* Linha acima dos elementos */
  margin: 10px auto; /* Margem superior e inferior de 10px, centralizando horizontalmente */
  width: calc(100% - 250px); /* Ajuste para ocupar a largura até a sidebar */
}

.divider1 {
  position: relative;
  top: 20px;
  border: none; /* Remove a borda padrão */
  border-top: 2px solid #ddd; /* Linha acima dos elementos */
  margin: 10px auto; /* Margem superior e inferior de 10px, centralizando horizontalmente */
  width: calc(100% - 250px); /* Ajuste para ocupar a largura até a sidebar */
}

.divider2 {
  border: none; /* Remove a borda padrão */
  border-top: 2px solid #ddd; /* Linha acima dos elementos */
  margin: 0px auto; /* Margem superior e inferior de 10px, centralizando horizontalmente */
  width: calc(100% - 250px); /* Ajuste para ocupar a largura até a sidebar */
}

/* Estilo para o container de busca */
.search-container {
  position: relative;
  bottom: -20px;
  left: -210px;
  margin-bottom: 20px;
  width: calc(130% - 250px); /* Ocupa a largura total até a sidebar */
}

.search-container input {
  width: 100%;
  padding: 10px 20px 10px 40px; /* Aumente o padding à esquerda (40px) para acomodar o ícone */
  border: 1px solid #007BFF;
  border-radius: 25px;
  box-sizing: border-box; /* Para garantir que o padding não afete a largura total */
}

.search-container i {
  position: absolute;
  left: 10px; /* Posição do ícone à esquerda */
  top: 50%;
  transform: translateY(-50%); /* Centraliza verticalmente o ícone */
  font-size: 18px;
  color: #aaa;
}

/* Estilo do swiper */
.swiper {
  position: relative;
  left: -210px;
  width: calc(130% - 250px); /* Ocupa a largura total até a sidebar */
  height: 400px; /* Altura do slide */
  border-radius: 20px;
  margin-top: 70px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  background: #34d6f3; /* Cor de fundo para os slides */
}



.salas-disponiveis {
  position: relative;
  left: -200px; /* Ajuste para alinhar corretamente */
  background-color: transparent;
  border-radius: 10px;
  padding: 20px; /* Remova o padding-right para evitar que o conteúdo fique muito largo */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: inline-block; /* Ajusta ao tamanho do conteúdo */
  max-width: 90%; /* Ajusta a largura máxima do elemento */
  margin: 100px auto 0; /* Centraliza horizontalmente e adiciona margem superior */
}


.salas-disponiveis h3 {
  margin-bottom: 10px;
  font-weight: bold;
}

.salas-disponiveis ul {
  list-style-type: none;
  padding: 0;
}

.salas-disponiveis li {
  margin-bottom: 5px;
  font-size: 16px;
}

.ver-mais,
.esconder {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  cursor: pointer;
}

#agendar {
margin-left: 470px;
margin-top: 20px;
padding: 10px 20px;
background-color: #00aeff; /* Cor do botão */
border: none;
border-radius: 100px;
font-weight: bolder;
color: #fff;
cursor: pointer;
box-shadow: 
  0 10px 30px rgba(0, 174, 255, 0.7), /* Aumenta a sombra para baixo */
  0 10px 50px rgba(0, 174, 255, 0.7); /* Sombra e brilho mais intenso para baixo */
transition: all 0.3s; /* Efeito de transição suave */
}    

#agendar:hover {
  background: #0aa8e6;
  color: #000;
  box-shadow: 0 0 20px #0aa8e6, 0 0 40px #0aa8e6, 0 0 70px #0aa8e6;
}

/*Reservas*/


.containerreservas {
  text-align: start;
}

.button-container {
  margin-left: -250px;
  margin-top: 40px;
  background-color: #cccccc8a; /* Fundo cinza para o container dos botões */
  padding: 2px;
  border-radius: 5px;
  display: inline-block; /* Centraliza o container dos botões */
}

.info-button {
  padding: 4px 17px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: transparent; /* Fundo transparente para os botões */
  color: black;
  cursor: pointer;
  transition: all 0.3s;
}

.info-button:hover {
  background-color: rgb(255, 255, 255); /* Efeito hover leve */
}

.info-button.selected {
  box-shadow: 0 0 10px rgb(255, 255, 255); /* Sombra branca para o botão selecionado */
  color: blue; /* Texto azul para o botão selecionado */
}

.info-display {
  margin-left: -111px;
  margin-top: 20px;
  padding: 15px;
  background-color: #fff;
  display: none; /* Esconder por padrão */
}

#infoText {
  margin-left: -160px;
  text-align: start; /* Alinha o texto à esquerda */
  font-weight: bold;
}

.room {
  display: flex; /* Usar flexbox para alinhar os elementos */
  justify-content: space-between; /* Espaço entre sala e data */
  margin: 10px 0; /* Margem acima e abaixo da sala */
  padding: 0 10px; /* Adicionar um pouco de padding */
}

.separator {
  border-top: 1px solid #ccc;
  margin: 5px 0; /* Espaço acima e abaixo da linha */
}







































  /* Perfil */

  .profile-container {
    width: calc(100% - 250px); /* Largura total menos a largura da sidebar */
    margin: 0 auto; /* Centraliza horizontalmente */
    padding-top: 150px; /* Aumenta o espaçamento superior para descer mais */
    position: relative; 
    height: calc(100vh - 150px); /* Altura total da tela menos o padding superior */
    overflow: auto; /* Permite rolagem se necessário */
}

.profile-img {
    position: absolute;
    top: 0; /* Muda a posição para que fique mais abaixo */
    left: 52%;
    transform: translateX(-50%);
    background-color: #ffffff;
    border-radius: 50%;
    padding: 10px;
    margin-top: 70px;
    margin-left: -110px;
}

.profile-content {
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px; /* Adicionando um padding para melhor visualização */
    margin: 0 auto; /* Centraliza o conteúdo */
    max-width: 800px; /* Largura máxima do conteúdo */
    margin-top: 60px; /* Espaço acima do conteúdo */
    margin-left: 56px;
}

.profile-actions button {
    min-width: 120px;
}

.disciplines-card {
    background-color: #e3f2fd;
    border-radius: 10px;
    margin: 10px 0; /* Espaçamento entre os cards */
    padding: 15px; /* Padding para os cards */
}

.password-form input {
    border-radius: 5px;
    width: 100%; /* Largura total */
}

.password-form button {
    border-radius: 5px;
}



  

.faq-section {
  background: #fdfdfd;
  min-height: 100vh; /* Altura mínima para ocupar toda a tela */
  padding: 0; /* Removido padding superior */
  display: flex; /* Usando flexbox para centralização */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  padding-top: 50px; /* Espaço no topo para não ficar muito colado */
  margin-left: -110px;
}

.faq-title {
  text-align: center;
  padding-bottom: 45px;
}

.faq-title h2 {
  position: relative;
  margin-bottom: 45px;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
  margin-left: -40px;
}

.faq-title h2::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 60px;
  height: 2px;
  background: #007BFF;
  bottom: -25px;
  margin-left: -30px;
}

.faq {
  background: #FFFFFF;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  width: 100%; /* Faz a FAQ ocupar toda a largura disponível até a sidebar */
  max-width: 600px; /* Largura máxima para manter o conteúdo legível */
}

.faq .card {
  border: none;
  background: none;
  border-bottom: 1px dashed #CEE1F8;
}

.faq .card .card-header {
  padding: 0;
  border: none;
  background: none;
  transition: all 0.3s ease;
}

.faq .card .card-header:hover {
  background: rgba(30, 169, 233, 0.1);
  padding-left: 10px;
}

/* FAQ Title within Card */
.faq .card .card-header .faq-title {
  width: 100%;
  text-align: left;
  padding: 20px 30px; /* Combined padding */
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #3B566E;
  text-decoration: none !important;
  transition: all 0.3s ease;
  cursor: pointer;
}

/* FAQ Badge */
.faq .card .card-header .faq-title .badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  border-radius: 100px;
  text-align: center;
  background: #007BFF;
  color: #fff;
  font-size: 12px;
  margin-right: 20px;
}

/* FAQ Body */
.faq .card .card-body {
  padding: 30px 35px 16px; /* Combined padding */
  font-weight: 400;
  font-size: 16px;
  color: #6F8BA4;
  line-height: 28px;
  letter-spacing: 1px;
  border-top: 1px solid #F3F8FF;
}

.faq .card .card-body p {
  margin-bottom: 14px;
}


  
@media (max-width: 991px) {
  .faq {
    margin-bottom: 30px;
  }
  .faq .card .card-header .faq-title {
    line-height: 26px;
    margin-top: 10px;
  }
}



/* Ajustes para Tela Pequena */
@media (max-width: 900px) {
  /* Sidebar */
  .sidebar {
    width: 200px; /* Ajusta largura para telas pequenas */
  }
  
  .sidebar.close {
    width: 50px; /* Ajusta largura da sidebar fechada */
  }

  /* Home Section */
  .home-section {
    left: 200px; /* Ajusta posição */
    width: calc(100% - 200px); /* Ajusta largura */
  }

  .sidebar.close ~ .home-section {
    left: 50px; /* Ajusta posição da home section */
    width: calc(100% - 50px); /* Ajusta largura */
  }

  /* Notificação */
  .notification-panel {
    width: 300px; /* Ajusta largura da notificação */
  }
}  
  


/* Media Queries para Responsividade */
@media (max-width: 768px) {
  .sidebar {
    width: 200px; /* Largura da sidebar para dispositivos menores */
  }

  .sidebar.close {
    width: 60px; /* Largura da sidebar fechada para dispositivos menores */
  }

  .home-section {
    left: 200px; /* Ajusta a posição da seção principal */
    width: calc(100% - 200px); /* Ajusta largura da seção principal */
  }

  .sidebar.close ~ .home-section {
    left: 60px; /* Ajusta posição quando sidebar está fechada */
    width: calc(100% - 60px); /* Ajusta largura quando sidebar está fechada */
  }

  .notification-panel {
    width: 300px; /* Largura da notificação para dispositivos menores */
    height: 350px; /* Altura da notificação para dispositivos menores */
  }








  .salas-disponiveis {
    padding-right: 30px; /* Ajusta o padding para dispositivos menores */
    margin-top: 50px; /* Reduz a margem superior */
    right: 0; /* Reseta o deslocamento para o lado */
}

.salas-disponiveis h3 {
    font-size: 18px; /* Ajusta o tamanho da fonte do título */
}

.salas-disponiveis li {
    font-size: 14px; /* Ajusta o tamanho da fonte dos itens da lista */
}

.imagem-calendario {
    top: -120px; /* Ajusta a posição vertical da imagem */
    left: 0; /* Reseta a posição horizontal da imagem */
    height: 200px; /* Ajusta a altura da imagem */
}
}






@media (max-width: 576px) {
  .sidebar {
    width: 100%; /* Largura total para telas pequenas */
  }

  .sidebar.close {
    width: 70px; /* Largura da sidebar fechada para telas pequenas */
  }

  .home-section {
    left: 0; /* Ajusta a posição da seção principal */
    width: 100%; /* Largura total da seção principal */
  }

  .notification-panel {
    left: 5%; /* Centraliza horizontalmente */
    transform: translateX(0); /* Corrige o alinhamento */
  }
}

@media (max-width: 400px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
  .sidebar{
    width: 78px;
  }
  .sidebar.close{
    width: 0;
  }
  .home-section{
    left: 78px;
    width: calc(100% - 78px);
    z-index: 100;
  }
  .sidebar.close ~ .home-section{
    width: 100%;
    left: 0;
  }
}