* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ffffff, #fafafa);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px; /* Estilo padrão para desktops */
    background-image: linear-gradient(to left, white, #0a2549, white);
    background-size: 500% 100%;
    animation: degrade-animado 7s infinite alternate;
}

@keyframes degrade-animado {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 100%;
    }
}
body, html {
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 100%;
    overflow-x: hidden;
   z-index: 1;
}

.vectors {
    position: absolute;
    width: 820px;
    height: 526px;
    top: 311px;
    left: 121px;
    filter: blur(210px);
    z-index: -1;
    background: linear-gradient(135deg, 
    rgb(0, 38, 255) 34%,
    rgb(255, 0, 0) 70%,     /* Azul (cima direita) */
    rgb(251, 255, 0) 68%  /* Amarelo (cima esquerda) */
     /* Vermelho (baixo direita) */
)}

.login-container {
    background-color: white;
    padding: 20px 60px;
    border-radius: 20px;
    box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 490px;
    height: 640px;
}

.login-container img {
    width: 210px;
    margin-bottom: 30px;
    margin-top: 40px;
}

.emailtext {
    position: relative;
    right: 160px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 17px;
}

.senhatext {
    position: relative;
    right: 160px;
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 17px;
}

h2 {
    margin-bottom: 10px;
    margin-top: 40px;
    font-size: 24px;
}

p {
    color: #888;
    margin-bottom: 30px;
}

.input-field {
    width: 100%;
    padding: 9px;
    margin: 10px 0;
    border-radius: 13px;
    border: 1px solid #000000;
    font-size: 16px;
}

.input-field:focus {
    border-color: #007BFF;
}

.login-btn {
    width: 100%;
    padding: 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 80px;
    margin-bottom: 11px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transition: all 0.3s;
}

.login-btn:hover {
    background: #0aa8e6;
    color: #000;
    box-shadow: 0 0 20px #0aa8e6, 0 0 40px #0aa8e6, 0 0 70px #0aa8e6;
  }

.forgot-password {
    position: relative;
    left: 102px;
    bottom: 151px;
    display: block;
    margin-top: 15px;
    color: #888;
    text-decoration: none;
}

.forgot-password:hover {
    color: #007BFF;
}

.back-btn {
    width: 100%;
    padding: 15px;
    background-color: transparent;
    color: #007BFF;
    border: 2px solid #007BFF;
    border-radius: 55px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 11px;
    position: relative;
    overflow: hidden;
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make it a block element */
    
}

.back-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 123, 255, 0.3);
    filter: blur(5px);
    z-index: 0;
    transition: all 0.5s;
    opacity: 0;
}

.back-btn:hover::before {
    opacity: 1;
}

.back-btn:hover {
    color: white;
}

/* Responsividade para tablets */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .login-container {
        width: 90%;
        padding: 30px 20px;
    }

    .login-container img {
        width: 120px;
    }
}

/* Responsividade para smartphones */
@media (max-width: 480px) {
    body {
        font-size: 12px;
    }

    .login-container {
        width: 80%;
        padding: 20px;
    }

    .login-container img {
        width: 100px;
    }
}
