* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-image: linear-gradient(to left, white, #0a2549, white);
    background-size: 500% 100%;
    animation: degrade-animado 7s infinite alternate;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    z-index: 1;
}


@keyframes degrade-animado {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 100%;
    }
}


.vector {
    position: absolute;
    width: 820px;
    height: 526px;
    top: 311px;
    left: 121px;
    filter: blur(210px);
    z-index: -1;
    background: linear-gradient(135deg, rgb(0, 38, 255) 34%, rgb(255, 0, 0) 70%, rgb(251, 255, 0) 68%);
}

.logo {
    width: 100%;              
    max-width: 300px;          
    display: block;            
    margin: 0 auto;            
}

.descricao {
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    color: #333; 
    text-align: center;
    margin: 20px 0;
    line-height: 1.6;
    font-weight: bold; 
}


h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
    font-size: 28px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}


form {
    background-color: #fff;
    padding: 40px;
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    animation: fade-in 1s ease-out;
}

.erro {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


form p {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s;
}

input:focus {
    border-color: #4e73df;
    outline: none;
    box-shadow: 0 0 8px rgba(78, 115, 223, 0.5);
}

.botao-redefinir {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: inherit; 
    text-decoration: none; 
    cursor: pointer; 
    transition: opacity 0.2s ease-in-out; 
}

.botao-redefinir:hover {
    opacity: 0.7; 
}


/* Botão */
button {
    width: 100%;
    padding: 12px;
    background-color: #4e73df;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #2e59d9;
    box-shadow: 0 0 10px rgba(46, 89, 217, 0.5);
}

/* Responsividade */
@media (max-width: 480px) {
    form {
        padding: 30px;
    }

    h1 {
        font-size: 24px;
    }

    button {
        font-size: 16px;
    }
}

