body {
    background-color: #ffffff;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

body {
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 100%;
    overflow-x: hidden;
    background-image: linear-gradient(to left, white, #cbe7f1, white);
    background-size: 500% 100%;
    animation: degrade-animado 5s infinite alternate;
}


@keyframes degrade-animado {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 100%;
    }
}

.card {
    border: none;
    transition: transform 0.3s;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    height: 200px; /* Altura fixa para as imagens */
    object-fit: cover; /* Mantém a proporção da imagem */
}

footer {
    margin-top: 50px;
    color: #666;
}
