body, html {
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 100%;
    overflow-x: hidden;
}

header {
    position: relative;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
}

.nav-buttons {
    display: flex;
    align-items: center;
}

#cadastrar, #conectar {
    padding: 10px 30px;
    background-color: #04a2eb;
    border: none;
    border-radius: 100px;
    color: #fff;
    cursor: pointer;
    margin: 0 10px; /* Adiciona espaço entre os botões */
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
    transition: all 0.3s;
    font-size: 13px;
    display: flex;
    align-items: center;
}

#cadastrar i, #conectar i {
    margin-right: 2px;
    margin-left: 10px;
    font-size: 1em;
}

#cadastrar:hover, #conectar:hover {
    background-color: #0281a8;
    box-shadow: 0 0 20px rgba(0, 0, 255, 1);
}

.menu-buttons {
    display: flex;
    flex-direction: column; /* Alinha os botões verticalmente */
    align-items: center; /* Centraliza os botões horizontalmente */
    gap: 20px; /* Adiciona distância entre os botões */
}

.menu-buttons button {
    padding: 10px 30px;
    background-color: #04a2eb;
    border: none;
    border-radius: 100px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
    transition: all 0.3s;
    font-size: 13px;
    margin: 0; /* Remove margem padrão para controle mais preciso */
}


.menu-buttons button:hover {
    background-color: #0281a8;
    box-shadow: 0 0 20px rgba(0, 0, 255, 1);
}
.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-left: 20px;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: black; /* Alterado para preto */
    margin: 4px 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding: 80px;
    margin-top: 50px; /* Espaço entre a parte superior e a imagem */
}

.titulo {
    font-size: 2.5em; /* Tamanho do título */
    color: #000000; /* Cor do título */
    text-align: center; /* Centraliza o título */
    margin-bottom: 0px; /* Espaço abaixo do título */
}

.subtitulo {
    font-size: 1.2em; /* Tamanho do subtítulo */
    color: #666; /* Cor do subtítulo */
    text-align: center; /* Centraliza o subtítulo */
    margin-bottom: 0px; /* Espaço abaixo do subtítulo */
}

#agendar {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #04a2eb;
    border: none;
    border-radius: 100px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
    transition: all 0.3s;
}

#agendar:hover {
    box-shadow: 0 0 20px rgba(0, 0, 255, 1);
}

#logo {
    width: 180px;
    height: auto;
}

#main-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

.image-size-control {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #f8f8f8;
    text-align: center;
    font-size: 14px;
    color: #777;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    right: 0; /* Modal agora aparece do lado direito */
    top: 0;
    width: 300px; /* Largura da janela modal */
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease; /* Animação suave ao abrir */
}

.modal-content {
    background-color: #fefefe;
    margin: 0;
    padding: 20px;
    border: 1px solid #888;
    height: 100%;
    animation: slideIn 0.5s; /* Animação de entrada */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px; /* Espaço entre o "X" e os botões */
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.info-box {
    margin-top: 20px; /* Espaço acima da caixa de informações */
}

.fade-in {
    animation: fadeIn 0.5s; /* Animação de fade-in */
}

.calendar-integration {
    display: flow-root;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 50px;
    background-color: #fff;
    color: #000;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.calendar-integration h2 {
    font-size: 4rem; /* Tamanho maior para o título */
    font-weight: 600;
    color: #000;
    margin-bottom: 30px;
    text-align: left; /* Centraliza o texto */
}

.grid-container {
    display: flex; /* Altera para flex para organizar os itens */
    flex-wrap: wrap; /* Permite que os itens se organizem em várias linhas */
    justify-content: flex-end; /* Alinha os itens à direita */
    max-width: 9000%; /* Permite ocupar toda a largura */
    margin-top: 60px;
}

.grid-item {
    background-color: #04a2eb; /* Cor de fundo azul */
    border-radius: 40px; /* Borda arredondada */
    margin: 60px; /* Espaçamento entre os blocos */
    padding: 60px; /* Aumenta o preenchimento */
    min-height: 30px; /* Altura mínima */
    flex: 0 0 calc(30% - 40px); /* Ajusta a largura dos itens para 3 em uma linha */
    display: flex; /* Flex para centralizar conteúdo */
    align-items: center; /* Alinha verticalmente ao centro */
    justify-content: flex-end; /* Alinha horizontalmente ao centro */
    color: #fff; /* Cor do texto */
    opacity: 1; /* Começa visível */
    transition: opacity 0.5s ease; /* Efeito de desvanecimento */
}

.grid-item:nth-child(odd) {
    min-height: 200px; /* Aumenta a altura dos itens ímpares */
}

.grid-item:hover {
    opacity: 2; /* Efeito de sumiço ao passar o mouse */
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from {
        right: -300px; /* Animação de entrada da janela modal */
    }
    to {
        right: 0;
    }
}

.main-content {
    visibility: hidden;

}